/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Futura';
  src: url("fonts/futura/futura-book.eot");
  src: url("fonts/futura/futura-book.eot") format("embedded-opentype"), url("fonts/futura/futura-book.woff") format("woff"), url("fonts/futura/futura-book.ttf") format("truetype"), url("fonts/futura/futura-book.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Futura';
  src: url("fonts/futura/futura-bold.eot");
  src: url("fonts/futura/futura-bold.eot") format("embedded-opentype"), url("fonts/futura/futura-bold.woff") format("woff"), url("fonts/futura/futura-bold.ttf") format("truetype"), url("fonts/futura/futura-bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Futura';
  src: url("fonts/futura/futura-book-italic.eot");
  src: url("fonts/futura/futura-book-italic.eot") format("embedded-opentype"), url("fonts/futura/futura-book-italic.woff") format("woff"), url("fonts/futura/futura-book-italic.ttf") format("truetype"), url("fonts/futura/futura-book-italic.svg") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Futura';
  src: url("fonts/futura/fututa-bold-italic.eot");
  src: url("fonts/futura/fututa-bold-italic.eot") format("embedded-opentype"), url("fonts/futura/fututa-bold-italic.woff") format("woff"), url("fonts/futura/fututa-bold-italic.ttf") format("truetype"), url("fonts/futura/fututa-bold-italic.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Futura';
  src: url("fonts/futura/futura-light.eot");
  src: url("fonts/futura/futura-light.eot") format("embedded-opentype"), url("fonts/futura/futura-light.woff") format("woff"), url("fonts/futura/futura-light.ttf") format("truetype"), url("fonts/futura/futura-light.svg") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Futura';
  src: url("fonts/futura/futura-light-italic.eot");
  src: url("fonts/futura/futura-light-italic.eot") format("embedded-opentype"), url("fonts/futura/futura-light-italic.woff") format("woff"), url("fonts/futura/futura-light-italic.ttf") format("truetype"), url("fonts/futura/futura-light-italic.svg") format("svg");
  font-weight: 200;
  font-style: italic;
}
/* line 18, ../../sass/screen.scss */
html {
  background-color: #1b0527;
}

/* line 106, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 24, ../../sass/screen.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 27, ../../sass/screen.scss */
body {
  background-color: #5d8ce7;
  margin: 15px;
  padding: 30px;
  font-family: 'Futura';
}

/* line 36, ../../sass/screen.scss */
h1 {
  font-size: 2em;
  line-height: 0.75em;
}

/* line 39, ../../sass/screen.scss */
p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/* line 43, ../../sass/screen.scss */
.rest-table {
  width: 100%;
}
/* line 45, ../../sass/screen.scss */
.rest-table tr {
  border-bottom: 1px solid #759dea;
}
/* line 47, ../../sass/screen.scss */
.rest-table tr td {
  padding: 7.5px;
  vertical-align: top;
}
/* line 54, ../../sass/screen.scss */
.rest-table thead {
  background-color: #759dea;
}
/* line 59, ../../sass/screen.scss */
.rest-table tbody tr:last-child {
  border: none;
}
