
// - - - - [ COLOR ] - - - - - - - - - - - - - - - - - - - - - - - - - -
	$color-purple: 	rgb(27, 5, 39);
	$color-blue:	rgb(93,140,231);

// - - - - [ FONT ] - - - - - - - - - - - - - - - - - - - - - - - - - -
	$font-size-milli:	12px;
	$font-size-zeta:	16px;
	$font-size-delta:	18px;
	$font-size-gamma:	20px;
	$font-size-beta:	24px;
	$font-size-alpha:	32px;
	$font-size-kilo:	48px;
	$font-size-mega:	64px;
	$font-size-giga:	80px;

	$base-font-size: $font-size-zeta;
	$base-line-height: 24px;


// - - - - [ SIZE ] - - - - - - - - - - - - - - - - - - - - - - - - - -
	$gutter:	30px;